{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container">

	<!-- HEADER -->
	{% include "includes/header.twig" %}

	<!-- MAIN SECTION -->
	<div role="main" class="ecom-product">

		<!-- MAIN WIDGET ZONE -->



	</div>
	<!-- END MAIN SECTION -->

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

{% endblock %}
